extends templet

block append javascripts
    script(src='/javascripts/leave_button.js')
    script(src="https://unpkg.com/axios/dist/axios.min.js")

block append contents
    .container
        .card.text-center
            .card-header
                | 마이페이지
            .card-body
                h4.card-title= user.username
                p.card-text
                | 학번 :
                =user.id
                br
                = user.department + " " + user.grade + "학년"
            .card-footer
                a#leave.btn.btn-primary(style='width: 100%; color: white;') 회원탈퇴