body {
    padding-top: 56px;
}

.container {
    padding-top: 10px;
}

.max {
    width: 100%;
}

li.list-group-item:hover {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

li.list-group-item:focus {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}